# 脚本demo
#*/30 * * * * cd /var/www/pythonzone/web; python ./manage.py crawl >> logs/crawl.log 2>&1
#*/1 * * * * cd /var/www/pythonzone/web; python ./manage.py crawl_topics >> logs/crawl_topics.log 2>&1
